.login {
  width: 600px;
  height: 300px;
 border: 1px solid black;
 margin: auto ;
 margin-top: 30px;
 padding: 20px;
}

.register {
  width: 600px;
  height: 400px;
 border: 1px solid black;
 margin: auto ;
 margin-top: 30px;
 padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}